/* admin */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Nunito", serif;
}

a {
  text-decoration: none !important;
}

.p-column-filter-row-items {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0 0;
  margin-bottom: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.p-toast {
  max-width: 280px;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 0px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 1rem;
  margin: 8px 0 0 5px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0;
  font-size: 12px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
  font-size: 16px;
  margin-top: 7px;
}

.card .p-tag {
  border-radius: 8px !important;
}

.card button {
  border-radius: 8px !important;
}

.card .p-dropdown {
  border-radius: 8px !important;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.p-column-filter .p-inputtext {
  padding: 0.2rem 0.5rem !important;
  font-size: 18px !important;
  border-radius: 8px !important;
}

.p-input-icon-right .p-inputtext {
  border-radius: 8px !important;
}

.p-component {
  font-size: 18px;
}

.p-tag {
  font-size: 0.75rem !important;
}

.disabled-row {
  opacity: 0.5;
  pointer-events: none;
}

.dopeshope {
  /* font-family: 'La Belle Aurore', cursive; */
  font-weight: 700;
  z-index: 10;
  color: #c5341e;
  letter-spacing: 0.05em;
}

.navbar {
  /* font-family: 'Cinzel', serif; */
  max-width: 800px;
  font-weight: 500;
  z-index: 10;
  padding-top: 5px !important;
}

.cart-count {
  width: 16px;
  height: 16px;
  font-size: 12px;
  top: -5px;
  right: -13px;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.one {
  animation-delay: 0.3s;
}

.two {
  animation-delay: 0.5s;
}

.three {
  animation-delay: 0.7s;
}

.four {
  animation-delay: 1s;
}

.five {
  animation-delay: 1.4s;
}

.six {
  animation-delay: 1.8s;
}

.shop-left .p-accordion .p-accordion-header .p-accordion-header-link {
  color: #495057 !important;
  text-decoration: none !important;
}

.shop-left .p-dropdown {
  border: 1px solid #c5341e;
}

.shop-left .p-dropdown .p-dropdown-label.p-placeholder {
  color: #c5341e;
}

.shop-left .p-dropdown .p-dropdown-trigger {
  color: #c5341e;
}

.shop-right .p-inputtext {
  color: #c5341e;
  padding: 0.2rem 0.5rem;
}

.product-topbar .p-dropdown-item {
  /* font-family: "Josefin Sans", serif; */
  font-size: 17px;
  padding: 7px 10px;
  color: #992603;
}

.product-topbar .p-dropdown-item:hover {
  background-color: rgba(205, 29, 13, 0.62);
  color: #ffffff;
}

.product-topbar .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #c81808fa;
  color: #fff;
}

.shopping-bag-icon .p-button {
  width: 42px;
  height: 42px;
  color: #fff;
  background: #992603;
  border: 1px solid #992603;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
}

.shopping-bag-icon .p-button:hover {
  color: #992603;
  background: #fff;
}

.shop-right .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #e0465a36;
  border-color: #e0465a36;
}

/* Shared Styles for p-checkbox and p-radioButton */
.p-checkbox .p-checkbox-box,
.p-radiobutton .p-radiobutton-box {
  transition: none !important;
  box-shadow: none !important;
}

.p-checkbox-box.p-highlight,
.p-radiobutton-box.p-highlight {
  background: #992603 !important;
  border-color: #992603 !important;
}

.p-checkbox-box,
.p-radiobutton-box {
  border-color: #ccc !important;
}

.p-checkbox-box:hover,
.p-radiobutton-box:hover {
  border-color: #992603 !important;
}


/* Cart Body */
.cart-body {
  padding: 3rem 10rem !important;
}

.cl-2-content {
  .pi {
    font-size: 13px;
  }

  .p-button .p-button-icon-left {
    margin-right: 0;
  }
}

.cart-right h6 {
  /* font-family: "Josefin sans", serif; */
  font-size: 15px;
  color: #505050;
  padding-top: 11.3px;
}

.cart-right span {
  /* font-family: "Josefin sans", serif; */
  font-size: 14px;
  color: #5b5b5b;
}

.cart-right .span {
  /* font-family: Assistant, Helvetica, Arial, sans-serif !important; */
  font-size: 14px;
  color: #5b5b5b;
  margin-top: -4px;
}

.cart-body .red {
  color: #dc3545 !important;
}

.cart-right .total-amount {
  /* font-family: "Josefin sans", serif; */
  font-size: 17px;
  color: #444444;
}

.cart-right .span2 {
  /* font-family: Assistant, Helvetica, Arial, sans-serif !important; */
  font-size: 15px;
  color: #444444;
  margin-top: -5px;
  letter-spacing: 0.7px;
}

.cart-right button,
.modal-body button {
  /* font-family: "Josefin sans", serif; */
  font-size: 15px;
  background: rgb(183, 29, 12);
  color: #ffffff;
  border-radius: 2px;
  line-height: 16px;
  margin-top: 15px;
  letter-spacing: 1px;
  padding: 10px 0 8px;
  border: none;
  font-weight: 600;
  span{
    color: #ffffff !important;
    margin-bottom: 3px;
  }
}

.cart-right button:hover {
  background-color: #992603;
}

.mrp {
  color: #606060;
}

.modal-content {
  .p-dialog .p-dialog-header {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
}
  .p-dialog .p-dialog-header .p-dialog-title {
      font-size: 1rem !important;
  }
  .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 1rem;
}

}